@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: rgb(2, 8, 23);
    --secondary-color: rgb(17, 24, 39);
    --border-color: rgb(30, 41, 59);
    --color-primary: 2 8 23;
    --color-secondary: 17 24 39;
    --color-border: 30 41 59;
    --color-success: 46 125 50;
    --color-error: 198 40 40;
    --color-info: 255 152 0;
    --color-warning: 255 111 0;
  }

  html {
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p.ol.ul,
span {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: var(--primary-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

/* Disable tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
